<!DOCTYPE html>
<html lang="en">
<head>
  <title>fe663a</title>
  <meta charset="UTF-8">
</head>
<bod
<h1>Hello world</h1>
    <div>
        <strong>Hello world</strong>
    </div>
    <em>Hello world</em>
    <ul>
        <li>Sample 1</li>
        <li>Sample 2</li>
        <li>Sample 3</li>
    </ul>
    <span>Hello world</span> <br>
    <a href="https://github.com/parthokr/">My github profile</a> <br> <!-- Put any http link inside anchor tag-->
    <a href="https://github.com/parthokr/">My github profile</a> <br>
    <a href="https://github.com/parthokr/">My github profile</a> <br>
</body>
</html>